body {
    margin: 2rem 2rem 2rem 2rem;
}

/*Starting Section*/
header {
    display: flex;
    padding-bottom: 20px;
    width: 100%;
    z-index: 1;
    background-color: white;
    justify-content: space-between;


}

#navigation-logo {
    display: none;
    width: 15vw;
}

.image-logo {

    width: 15vw;
}

.main-title-page {
    margin-left: 6%;
    font: 4.5rem 'Roboto', arial, sans-serif;
    flex: 1;
    color: rgba(11, 17, 17, 0.902);
}

.title-line-break {
    height: 12px;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);

}

nav {
    display: flex;
    padding: 30px;
    justify-content: space-around;
}

nav a {
    color: dimgray;
    font: lighter 25px 'Roboto', arial, sans-serif;

}

/*Starting -Section Ends*/





/*  PART 1--------------------------------------*/
.latest-headline {
    width: 100%;

    height: 500px;
    box-shadow: 0px 15px 10px -15px #111;


}

.front-picture {
    position: relative;
    width: 100%;
    height: 100%;
}

.womanimagejpg {
    position: relative;
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.starting-headline {
    position: absolute;
    bottom: 0%;
    background-color: white;
    color: dimgray;
    font: 1rem 'Roboto', arial, sans-serif;
    width: 100%;
}

/*Part 1 ends --------------------------------------*/



/*-----------News-bar*---------------------------*/
.news-margin {
    margin-top: 0.8rem;
    display: flex;
    font: lighter 2rem 'Roboto', arial, sans-serif;
    color: rgba(0, 0, 0, 0.5);

}

.news-margin .top-news {
    flex: 2;

}

.divider {
    color: rgba(189, 186, 186, 0.712);

}

/*-----------News- bar Ends*---------------------------*/

/*=-----------------PART-2----------------------------*/

.bullets {
    color: rgba(0, 0, 0, 0.7);
    padding: 17px 10px 17px 10px;
    font: normal 1.2rem 'Roboto', arial, sans-serif;
    letter-spacing: 1px;
}

/*=-----------------PART-2 Ends----------------------------*/



/*=-----------------PART-3 Table Part START---------------------------*/

.score-board {
    width: 100%;
    height: 26em;
    border-collapse: collapse;


}

.score-board th {
    font: lighter 25px 'Roboto', arial, sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

.score-board td {
    flex: 1;
    font: lighter 20px 'Roboto', arial, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.score-board .bold {
    font-weight: bold;
}

/*=-----------------PART-3 Table Part ENDS---------------------------*/





/*=-----------------PART-4 Weather Analysis Table Part START---------------------------*/


.location-weather {
    font: lighter 31px 'Roboto', arial, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    padding: 4% 0% 1% 3%;
}

.average-weather {
    display: flex;
    width: 30%;

}

.average-weather-pic {
    width: 50%;
    margin: auto;
}

.environment-degree {
    width: 50%;
    display: flex;
}

/* .thirteen {

    width: 50%;
    
    text-align: center;

} */
/* 
.degree {

    width: 50%;

} */

.temperature-text {
    font: lighter 5rem 'Roboto', arial, sans-serif;
    text-align: right;
}

.centigrade-text {
    font: lighter 3rem 'Roboto', arial, sans-serif;
    padding-top: 2rem;
    padding-left: 1rem;
}

.image-cloud {
    width: 100%;
    height: 100%;
}


.weather-chart {
    display: flex;
    justify-content: space-around;

}

.days-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
}

.current-day {
    font: lighter 1.4em 'Roboto', arial, sans-serif;
    color: dimgrey;
}

.current-temp {
    font: lighter 1.4em 'Roboto', arial, sans-serif;
    color: dimgrey;
}

.current-day-image {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 2%;
}

.current-day-image-pic {
    height: 60%;
    width: 60%;

}

/*=-----------------PART-4 weather Part ENDS---------------------------*/

.news-margin {
    display: flex;
}

.latest-tag {
    flex: 11;
}

.latest-news-pic {
    height: 7%;
    width: 9%;
    margin-right: 1%;
    float: left;
}

.latest-quick-points {

    margin-top: 2%;
    float: left;
}

.latest-news-title {
    font: bold 1em 'Roboto', arial, sans-serif;
    color: dimgray;

}

.news-text p {

    color: dimgray;

}

.last-line {
    color: dimgray;
    box-shadow: 10px 5px 5px dimgray;

}

.footer {
    display: flex;
    justify-content: space-around;
    font: lighter 1em 'Roboto',
        arial,
        sans-serif;
    color: dimgray;


}


/* MEDIA QUERY FOR TAB VIEW--- */

@media (max-width: 800px) and (min-width:501px) {
    section {
        display: flex;
        flex-wrap: wrap;

    }

    .main-title-page {
        font-size: 2.4rem;
        flex: 11;
    }


    .latest-headline {
        order: 1;
        width: 50%;
        height: auto;
    }

    .average-weather {
        width: 100%;
    }

    .weather-analysis {
        order: 2;
        width: 48%;

        overflow-x: hidden;
    }

    .breakingnews {
        order: 3;
        width: 100%;
    }

    .score-board {
        order: 4;
        width: 100%;
    }

    .newsHeading {
        font-size: 10px;
    }

    .score-board {
        height: 20em;
    }


    .score-board th {
        background-color: lightcyan;
    }

    .score-board tr:nth-child(odd) {
        background-color: #eaeef0;
    }

    .news-text p {
        padding-top: 2px;
        font: normal 0.8em 'Roboto', arial, sans-serif;

    }

    .latest-news-pic {
        height: 17%;
        width: 21%;
        margin-right: 1%;

    }

    .womanImageJPG {

        position: relative;
    }

    .starting-headline {
        position: absolute;
        bottom: 10;
        background-color: rgba(78, 68, 68, 0.5);
        color: white;

    }

    .newsHeading {
        font: lighter 0.8em 'Roboto', arial, sans-serif;
    }

    .newsDescription {
        font: lighter 0.8em 'Roboto', arial, sans-serif;
    }

    .thirteen-text {
        font: lighter 2rem 'Roboto', arial, sans-serif;
        text-align: right;
    }

    .centigrade-text {
        font: lighter 1rem 'Roboto', arial, sans-serif;
        padding-top: 2rem;
        padding-left: 1rem;
    }

    .location-weather {
        font: lighter 14px 'Roboto', arial, sans-serif;
        color: rgba(0, 0, 0, 0.6);
        padding: 4% 0% 1% 3%;
    }


}

@media(max-width:500px) {
    .main-title-page {
        position: fixed;
        font: normal 1em 'Roboto', arial, sans-serif;
    }

    header {

        position: sticky;
        top: 0;
    }

    .main-title-page {
        font-size: 1.8em;
        padding-left: 12%;

    }

    .image-logo {

        height: 80px;
        width: 80px;
    }

    .news-heading {
        font: lighter 0.9em 'Roboto', arial, sans-serif;
    }

    .news-description {
        font: lighter 0.6em 'Roboto', arial, sans-serif;
    }

    .starting-headline {
        position: absolute;
        bottom: 10;
        background-color: rgba(78, 68, 68, 0.5);
        color: white;

    }

    .latest-headline {
        height: auto;
    }

    .temperature-text {
        font: lighter 3rem 'Roboto', arial, sans-serif;

    }

    .environment-degree {
        display: flex;
    }

    .centigrade-text {
        font: lighter 2rem 'Roboto', arial, sans-serif;
        align-content: center;

    }

    .location-weather {
        font: lighter 9px 'Roboto', arial, sans-serif;
        color: rgba(0, 0, 0, 0.6);
        padding: 4% 0% 1% 3%;
    }

    nav {
        display: none;
    }

    .score-board {
        height: 15em;
        padding: 1%;
    }

    .score-board th {
        background-color: lightcyan;
    }

    .score-board tr:nth-child(odd) {
        background-color: #eaeef0;
    }

    #navigation-logo {
        display: contents;
        font-size: 3rem;
    }

    .latest-news-pic {
        height: 24vw;
        width: 31vw;
    }

    .bullets {
        letter-spacing: 0cm;
        padding: 1%;
    }

}